@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h5>Feel free to contact us</h5>
<p> &emsp; &emsp;  &emsp; &ensp;  Mail : Gothamcares@charity.org </p>
<p> &emsp; &emsp;  &emsp; &emsp;   Tel  : 0487-29999999</p>
<p> &emsp; &emsp;  &emsp; &emsp;   &ensp; &nbsp; &nbsp; : 0487-28888888</p>
